*{
    box-sizing: border-box;
    margin: 0;
}
html {
    max-width: 100vw;
    height: 100%;
}

body {
	line-height: 1.5;
	min-height: 100vh;
	font-family: "Be Vietnam Pro", sans-serif;
	background-color: var(--c-gray-900);
	color: var(--c-text-primary);
	display: flex;
	padding-top: 3vw;
	padding-bottom: 3vw;
	justify-content: center;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

img {
    object-fit: cover;
	display: block;
	width: 100%;
}

button,
select,
input,
textarea {
	font: inherit;
}

a {
	color: inherit;
}
