:root{
    /* Les couleurs */
    --blue: #14FBFF;
	--violet: #FF14FB;
	--green-flash: #14FF8E;
    --yellow: #fbff12;
    --black: #000000;
    --white: #F0F7EE;
	--c-gray-900: #000000;
	--c-gray-800: #1f1f1f;
	--c-gray-700: #2e2e2e;
	--c-gray-600: #313131;
	--c-gray-500: #969593;
	--c-gray-400: #a6a6a6;
	--c-gray-300: #bdbbb7;
	--c-gray-200: #f1f1f1;
	--c-gray-100: #ffffff;

	--gradient-135: linear-gradient(135deg, hsla(61, 100%, 54%, 1) 10%, hsla(151, 100%, 54%, 1) 54%, hsla(181, 100%, 54%, 1) 100%);
	--gradient-315: linear-gradient(315deg, hsla(61, 100%, 54%, 1) 1%, hsla(151, 100%, 54%, 1) 38%, hsla(181, 100%, 54%, 1) 100%);


	--font-quick: 'Quicksand', sans-serif;
	--c-white: var(--c-gray-100);
	--c-text-primary: var(--c-gray-100);
	--c-text-secondary: var(--c-gray-200);
	--c-text-tertiary: var(--c-gray-500);
}