<div class="app-body">
    <div class="app-body-main-content">                    
            <div class="tiles">
                <article class="tile">
                    <div class="tile-header">
                        <h3>Total de KM parcourus</h3>
                        <p class="tile-primary">30 km</p>
                    </div>
                    <div>
                        Le mois dernier : 30 km
                    </div>
                </article>

                <article class="tile">
                    <div class="tile-header">
                        <h3>Nombre d'activités</h3>
                        <p class="tile-primary">3</p>
                    </div>
                    <div>
                        Le mois dernier : 30 km
                    </div>
                </article>

                <article class="tile">
                    <div class="tile-header">
                        <h3>Moyenne de KM par activités</h3>
                        <p class="tile-primary">30 km</p>
                    </div>
                    <div>
                        Le mois dernier : 30 km
                    </div>
                </article>

                <article class="tile">
                    <div class="tile-header">
                        <h3>Vitesse moyenne</h3>
                        <p class="tile-primary">30 km</p>
                    </div>
                    <div>
                        Le mois dernier : 30 km
                    </div>
                </article>

                <article class="tile">
                    <div class="tile-header">
                        <h3>Cadence moyenne</h3>
                        <p class="tile-primary">30 km</p>
                    </div>
                    <div>
                        Le mois dernier : 30 km
                    </div>
                </article>
            </div>
        </section>