<div class="app-body">
    <div class="app-body-main-content">                    
            <div class="tiles">
                <article class="tile">
                    <div class="tile-header">
                        <h3>Total de KM parcourus</h3>
                        <p class="tile-primary">{{ totalKmThisMonth }} km</p>
                    </div>
                    <div>
                        Le mois dernier : {{ totalKmLastMonth }} km
                    </div>
                </article>

                <article class="tile">
                    <div class="tile-header">
                        <h3>Nombre d'activités</h3>
                        <p class="tile-primary">{{ nbActivitiesMonth }}</p>
                    </div>
                    <div>
                        Le mois dernier : {{ nbactivitiesLastMonth }}
                    </div>
                </article>

                <article class="tile">
                    <div class="tile-header">
                        <h3>Moyenne de KM par activités</h3>
                        <p class="tile-primary">{{ averageKmMonth }} km</p>
                    </div>
                    <div>
                        Le mois dernier : {{ averageKmLastMonth }} km
                    </div>
                </article>

                <article class="tile">
                    <div class="tile-header">
                        <h3>Vitesse moyenne</h3>
                        <p class="tile-primary">{{ speedThisMonth }}</p>
                    </div>
                    <div>
                        Le mois dernier : {{ speedLastMonth }}
                    </div>
                </article>

                <article class="tile">
                    <div class="tile-header">
                        <h3>Cadence moyenne</h3>
                        <p class="tile-primary">{{ cadenceThisMonth }} <small>foulées/min</small></p>
                    </div>
                    <div>
                        Le mois dernier : {{ cadenceLastMonth }} <small>foulées/min</small>
                    </div>
                </article>
            </div>
        </section>