<section class="activites-section">
    <div class="activites-section-header">
        <h2>Dernières activités</h2>                          
    </div>

    <div class="container-activity">

        <article class="tile-activity">
            <div class="tile-activity-header">
                <small>{{ formattedDate }}</small>
                <h3>{{ title }}</h3>
                <p>{{ totalKm }} Km</p>
            </div>
            <a data-link href="{{ path }}/activity/{{ id }}" class="button-1">Voir</a>
        </article>
        <article class="tile-activity">
            <div class="tile-activity-header">
                <small>{{ formattedDate }}</small>
                <h3>{{ title }}</h3>
                <p>{{ totalKm }} Km</p>
            </div>
            <a data-link href="{{ path }}/activity/{{ id }}" class="button-1">Voir</a>
        </article>
        <article class="tile-activity">
            <div class="tile-activity-header">
                <small>{{ formattedDate }}</small>
                <h3>{{ title }}</h3>
                <p>{{ totalKm }} Km</p>
            </div>
            <a data-link href="{{ path }}/activity/{{ id }}" class="button-1">Voir</a>
        </article>
        <article class="tile-activity">
            <div class="tile-activity-header">
                <small>{{ formattedDate }}</small>
                <h3>{{ title }}</h3>
                <p>{{ totalKm }} Km</p>
            </div>
            <a data-link href="{{ path }}/activity/{{ id }}" class="button-1">Voir</a>
        </article>
        <article class="tile-activity">
            <div class="tile-activity-header">
                <small>{{ formattedDate }}</small>
                <h3>{{ title }}</h3>
                <p>{{ totalKm }} Km</p>
            </div>
            <a data-link href="{{ path }}/activity/{{ id }}" class="button-1">Voir</a>
        </article>
    </div>
</section>