<header class="app-header">
    <div class="app-header-logo">
        <div class="logo">
            <span class="logo-icon"><img src="static/img/logo-run.svg" /></span>
            <h1 class="logo-title">Mes stats Mensuelles</h1>
        </div>
    </div>
    <div class="app-header-athlete-info">
        <h2>{{ firstname }}, {{ lastname }} </h2>
        <p>{{ Username }}</p>
        <p>{{ bio }}</p>
    </div>
    <div class="app-header-date">
        <h2>{{ Mois }}</h2>
        <p>{{ Date }}</p>
    </div>
</header>