<div class="container-activity">

    <article class="tile-activity">
        <div class="tile-activity-header">
            <small>{{ formattedDate }}</small>
            <h3>{{ title }}</h3>
            <p>{{ totalKm }} Km</p>
        </div>
        <a data-link href="{{ path }}/activity/{{ id }}" class="button-1">Voir</a>
    </article>

    <article class="tile-activity">
        <div class="tile-activity-header">
            <small>{{ formattedDate }}</small>
            <h3>{{ title }}</h3>
            <p>{{ totalKm }} Km</p>
        </div>
        <a data-link href="{{ path }}/activity/{{ id }}" class="button-1">Voir</a>
    </article>
    <article class="tile-activity">
        <div class="tile-activity-header">
            <small>{{ formattedDate }}</small>
            <h3>{{ title }}</h3>
            <p>{{ totalKm }} Km</p>
        </div>
        <a data-link href="{{ path }}/activity/{{ id }}" class="button-1">Voir</a>
    </article>

    <article class="tile-activity">
        <div class="tile-activity-header">
            <small>{{ formattedDate }}</small>
            <h3>{{ title }}</h3>
            <p>{{ totalKm }} Km</p>
        </div>
        <a data-link href="{{ path }}/activity/{{ id }}" class="button-1">Voir</a>
    </article>

    <article class="tile-activity">
        <div class="tile-activity-header">
            <small>{{ formattedDate }}</small>
            <h3>{{ title }}</h3>
            <p>{{ totalKm }} Km</p>
        </div>
        <a data-link href="{{ path }}/activity/{{ id }}" class="button-1">Voir</a>
    </article>
    
</div>
</section>