
<section class="activity-tile">
    <header class="activity-tile-header">
        <p>{{ date }}</p>
        <h1>{{ title }}</h1>
        <p>{{ distance }} Km</p>

    </header>
        <div class="activity-tile-data">
            <dl>
                <dt>Type :</dt>
                <dd>{{ type }}</dd>
    
                <dt>Vitesse moyenne :</dt>
                <dd>{{ pace }}</dd>
    
                <dt>Temps :</dt>
                <dd>{{ hours }}h{{ minutes }}m</dd>
    
                <dt>Calories :</dt>
                <dd>{{ calories }}</dd>
            </dl>
        </div>

</section>
<footer>
    <a href="/dashboard" class="button-1">Retour au dashboard</a>
</footer>