<section class="activity-tile">
    <header class="activity-tile-header">
        <h1>{{ title }}</h1>
        <p>{{ type }}</p>
    </header>
    <div class="activity-tile-data">
        <dl>
            <dt>Distance</dt>
            <dd>{{ distance }} Km</dd>

            <dt>Vitesse moyenne</dt>
            <dd>{{ pace }}</dd>

            <dt>Temps</dt>
            <dd>{{ hours }}h{{ minutes }}m</dd>

            <dt>Calories</dt>
            <dd>{{ calories }}</dd>

            <dt>Élévation</dt>
            <dd>{{ altitude }}</dd>
        </dl>
    </div>
</section>