<section class="activites-section">
    <div class="activites-section-header">
        <h2>Dernières activités</h2>                          
    </div>

    <div class="container-activity">

        <article class="tile-activity">
            <div class="tile-activity-header">
                <h3>Titre de l'activité</h3>
                <p>Distance en KM</p>
            </div>
            <button>Voir</button>
        </article>
        <article class="tile-activity">
            <div class="tile-activity-header">
                <h3>Titre de l'activité</h3>
                <p>Distance en KM</p>
            </div>
            <button>Voir</button>
        </article>
        <article class="tile-activity">
            <div class="tile-activity-header">
                <h3>Titre de l'activité</h3>
                <p>Distance en KM</p>
            </div>
            <button>Voir</button>
        </article>
        <article class="tile-activity">
            <div class="tile-activity-header">
                <h3>Titre de l'activité</h3>
                <p>Distance en KM</p>
            </div>
            <button>Voir</button>
        </article>
        <article class="tile-activity">
            <div class="tile-activity-header">
                <h3>Titre de l'activité</h3>
                <p>Distance en KM</p>
            </div>
            <button>Voir</button>
        </article>
    </div>
</section>